<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button style="cursor: pointer" (click)="openShowCreateRoom()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab *ngIf="showCreateRoom" vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button style="cursor: pointer" (click)="openShowCalendar()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  <app-create-room-form *ngIf="showCreateRoom" [deviceId]="deviceId" (roomCreated)="openShowCalendar()"></app-create-room-form>
  <app-calendar-view *ngIf="showCalendar"></app-calendar-view>
</ion-content>